body
{
	
	margin-top: 2%;
}
#name
{
	text-align: right;
}
hr
{
	
	border: 2px solid grey;
}
h1
{
	font-size: 50px;
	font-weight: 300;
}
.content
{
	max-width: 100%;
}
.project:hover
{
	opacity: 0.8;
	cursor:pointer;
}
#work
{
	padding-top: 2%
}
#logo
{
	width: 100px;
	height: 100px;
}
@media screen and (max-width: 576px)
{
	
	#logo
	{
    display: block;
    margin-left: auto;
    margin-right: auto;
	}
	#name
	{
		text-align: center;
	}
}
